<a href="https://colab.research.google.com/github/Hilol16070/-/blob/main/laba_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ПРАКТИЧЕСКАЯ РАБОТА 4. ДАННЫЕ В ФОРМАТЕ CSV

Давлатов Хилол Илхомджонович
ПИН-б-о-22-1 09.03.03 Прикладная информатика

Цель работы: научиться обрабатывать данные из файла csv.
Задачи лабораторной работы:
– научиться считывать строки из файла csv;
– научиться преобразовывать типы данных;
– научиться решать прикладные задачи с использованием простых скриптов.

![image.png](attachment:image.png)

In [ ]:
F = open('p4_data_13.csv')
header = F.readline().strip().split(',')
print(header)
print("-"*40)

all_clients=[]

for line in F:
    data = line.strip().split(",")
    client = {}
    for i, key in enumerate(header):
        client[key] = data[i]

    all_clients.append(client)
    client['salary'] = float(client['salary'][1:])
    client['Tax'] = float(client['Tax'][1:])

print(all_clients[:10])

F.close()

['ID', 'LastName', 'FirstName', 'email', 'salary', 'Skill', 'Tax']
----------------------------------------
[{'ID': '71-0315382', 'LastName': 'Rubinovitch', 'FirstName': 'MГ©lanie', 'email': 'drubinovitch0@google.com.hk', 'salary': 4883.13, 'Skill': 'WDK', 'Tax': 210.22}, {'ID': '07-2273300', 'LastName': 'Fitzjohn', 'FirstName': 'AnaГ©', 'email': 'tfitzjohn1@miibeian.gov.cn', 'salary': 3382.68, 'Skill': 'JVs', 'Tax': 127.36}, {'ID': '00-5608520', 'LastName': '', 'FirstName': 'CГ©lestine', 'email': 'caires2@quantcast.com', 'salary': 8636.92, 'Skill': 'IASO', 'Tax': 396.5}, {'ID': '01-9616396', 'LastName': 'Rides', 'FirstName': 'TГЎng', 'email': '', 'salary': 4429.53, 'Skill': '', 'Tax': 184.48}, {'ID': '85-1552843', 'LastName': '', 'FirstName': 'BГ©nГ©dicte', 'email': 'loby4@blogs.com', 'salary': 1918.43, 'Skill': 'TMJ Treatment', 'Tax': 498.07}, {'ID': '30-9588911', 'LastName': 'Lupson', 'FirstName': 'BГ©cassine', 'email': 'mlupson5@discuz.net', 'salary': 9559.02, 'Skill': 'Process Efficiency', 'Tax': 307.9}, {'ID': '53-4120154', 'LastName': 'Amy', 'FirstName': 'ThГ©rГЁsa', 'email': 'famy6@intel.com', 'salary': 2907.28, 'Skill': '', 'Tax': 73.33}, {'ID': '56-0122655', 'LastName': 'Robertson', 'FirstName': 'GaГ©tane', 'email': '', 'salary': 1294.29, 'Skill': 'Operational Risk', 'Tax': 285.39}, {'ID': '52-3192486', 'LastName': 'Sturt', 'FirstName': 'VГ©nus', 'email': 'osturt8@abc.net.au', 'salary': 1609.45, 'Skill': 'Editorial Illustrations', 'Tax': 224.27}, {'ID': '96-1723335', 'LastName': 'Mitchener', 'FirstName': 'GaГ©tane', 'email': '', 'salary': 3611.53, 'Skill': 'Classical', 'Tax': 42.37}]

In [ ]:
min_sal = 10000000000000000000000000
max_sal = 0
min_sal_man = ''
max_sal_man = ''
for man in all_clients:
    if man["salary"] > max_sal:
        max_sal = man["salary"]
        max_sal_man = man
    if man["salary"] < min_sal:
        min_sal = man["salary"]
        min_sal_man = man
print("макс зарплата", max_sal, "клиент", max_sal_man)
print("мин зарплата", min_sal, "клиент", min_sal_man )

макс зарплата 9992.67 клиент {'ID': '82-4823297', 'LastName': 'Von Welden', 'FirstName': 'KallistГ©', 'email': 'mvonweldenm7@multiply.com', 'salary': 9992.67, 'Skill': 'HW Design', 'Tax': 290.87}
мин зарплата 1001.66 клиент {'ID': '32-9285194', 'LastName': 'Wehden', 'FirstName': 'VГ©nus', 'email': 'gwehdenid@zimbio.com', 'salary': 1001.66, 'Skill': 'Segregation of Duties', 'Tax': 408.27}

In [ ]:
count = 0
sum = 0
for man in all_clients:
    if man['Skill'] == "":
        #print(man)
        count += 1
        sum += man['salary']
print("Средняя ЗП: ", sum/count)

Средняя ЗП:  5474.491166666665

In [ ]:
count2 = 0
for man in all_clients:
    if man["email"] == "":
        count2 +=1
print("Кол вл сотрудников без имейла: ", count2)

Кол вл сотрудников без имейла:  213

In [ ]:
sum_nal = 0
for man in all_clients:
    sum_nal += man["Tax"]
print("Сумма налого по всем сотрудникам:", sum_nal)

Сумма налого по всем сотрудникам: 262056.15

![image.png](attachment:image.png)

In [ ]:
p = [10,100,34,56,45,45]
sum22 = 0
for i in p:
    sum22 += i
print(sum22)

290

In [ ]:
print(len(p))

6

In [ ]:
p = [10,100,35,34,56,45,45,21]
sum_33 = 0
for i in p:
    if (i % 7) == 0:
        sum_33 += i
print(sum_33)

112

In [ ]:
p = {4:10, 12:100, 35:3, 34:56, 56:11, 45:"abc"}
for k, v in p.items():
        if type(v) == int:
            if (v > 45):
                print(k)

12
34

In [ ]:
h= []
for i in range(1,101):
    d = i * i
    h.append(d)
print(h)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

Структура файла CSV (Comma-Separated Values) представляет собой текстовые файлы, в которых данные организованы в виде таблицы. Каждая строка файла соответствует одной строке таблицы, а значения в строках разделены запятыми.
Импортировать модуль csv (встроенный модуль Python).
Указать имя файла, который нужно открыть (или путь к нему).
Инициализировать объект reader, который будет перебираться в цикле for. Для этого используется функция reader = csv.reader(файл).
Данные из указанного файла выводятся построчно.
Если CSV-файл содержит заголовки, можно использовать csv.DictReader, который возвращает каждую строку как словарь, где ключами являются заголовки столбцов. Это позволяет легко обращаться к значениям в строках по именам столбцов.